$color-primary: #04bbc2;
$color-secondary: #343A40;
$color-background-primary: #FBFBFB;
$color-primary-light: #8ce9ec;
$color-secondary-light: #D9D9D9;
$color-success: #1edb57;
$color-danger: #ff1212;
$color-Warning: #FFA200;
$color-white: #FFFFFF;
$color-black: #020202;